
.hp_thema{margin:29px 0 0}
.hp_thema .event_tit{position:relative;width:117px;height:24px;margin:0 auto 7px;background:url(//pics.auction.co.kr/pc/hp/new_homepage.png) no-repeat -372px -102px;text-indent:-9999px}
.hp_thema .item_list_type1 div.touchSlider-box{overflow:hidden;height:538px;margin-top:20px}
.hp_thema .item_list_type1 div.touchSlider-box:first-child{margin-top:0}
.hp_thema .item_list_type1 div.touchSlider{padding:0}
.hp_thema .item_list_type1 .pnum{left:568px}
.hp_thema .item_list_type1 div.touchSlider ul{width:990px !important;margin-top:13px}
.hp_thema .item_list_type1 div.touchSlider ul#themeList1{top:268px !important}
.hp_thema .item_list_type1 li{float:left;margin-left:13px;cursor:pointer}
.hp_thema .item_list_type1 li:first-child{margin-left:0}
.hp_thema .item_list_type1 .touchSlider li img{width:318px;height:256px}
.hp_thema .themabt.prev,  .hp_thema .themabt.next{top:270px}
.hp_thema .item_list_type1 div.touchSlider ul:first-child{overflow:hidden;top:0 !important;left:0 !important;float:left;margin:0;}
.hp_thema .item_list_type1 div.touchSlider ul{overflow:hidden;top:255px !important;left:0 !important;float:left;margin:0}

.pnum{position:absolute;top:-42px;left:588px;font-size:18px;font-family:'Malgun Gothic',맑은고딕,dotum,돋움;color:#999;line-height:21px}

.item_list_type1,.item_list_type1 div.inner{position:relative}

/* 주요서비스 */
.hotspot_tit{position:relative}
.hotspot_tit h3{width:112px;margin:45px auto 19px;height:23px;background:url(//pics.auction.co.kr/pc/hp/new_homepage.png) no-repeat -372px -23px;text-indent:-9999px}
.hotspot_tit .bt_more{position:absolute;top:8px;right:0;font-family:'Malgun gothic',맑은고딕,dotum,돋움;font-size:13px;color:#777777}
.hotspot .hotspot_bnr_lst{*overflow:hidden;;margin:19px 0 0 -12px;font-size:0}
.hotspot .hotspot_bnr_lst:after{display:block;content:'';clear:both}
.hotspot .hotspot_bnr_lst li{display:inline-block;float:left;position:relative;margin-left:12px}
.hotspot .hotspot_bnr_lst li a{font-size:0}
.hotspot .hotspot_bnr_lst li img{width:112px;height:147px}
.hotspot .hotspot_bnr_lst .hotspot_smileclub{display:block;position:absolute;top:-12px;left:-17px;z-index:1;width:156px;height:31px;background:url(//pics.auction.co.kr/pc/hp/new_homepage.png) no-repeat 0 -103px;text-indent:-9999px}
.hotspot .hotspot_brand{position:relative}
.hotspot .hotspot_brand_lst{overflow:hidden;position:relative;width:980px;height:375px;margin-top:30px;}
.hotspot .hotspot_brand_lst li{float:left}
.hotspot .hotspot_brand_lst li.on,.hotspot .hotspot_brand_lst li:hover a{font-weight:bold;text-decoration:none}
.hotspot .hotspot_brand_lst li.on .brand_cont,.hotspot_brand_lst li:hover > .brand_cont{display:block !important;z-index:1 !important}
.hotspot .hotspot_brand_lst li .brand_tab{display:inline-block;width:162px;height:33px;padding-top:11px;border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;font-family:'Malgun gothic',맑은고딕,dotum,돋움;font-size:15px;font-weight:bold;color:#333333;text-align:center}
.hotspot .hotspot_brand_lst li:first-child .brand_tab{width:163px;border-left:1px solid #e5e5e5}
.hotspot .hotspot_brand_lst li.on .brand_tab.type1,.hotspot .hotspot_brand_lst li:hover .brand_tab.type1{background:#cae6ff}
.hotspot .hotspot_brand_lst li.on .brand_tab.type2,.hotspot .hotspot_brand_lst li:hover .brand_tab.type2{background:#f7e7da}
.hotspot .hotspot_brand_lst li.on .brand_tab.type3,.hotspot .hotspot_brand_lst li:hover .brand_tab.type3{background:#c3ebeb}
.hotspot .hotspot_brand_lst li.on .brand_tab.type4,.hotspot .hotspot_brand_lst li:hover .brand_tab.type4{background:#ffdee4}
.hotspot .hotspot_brand_lst li.on .brand_tab.type5,.hotspot .hotspot_brand_lst li:hover .brand_tab.type5{background:#cdf0d7}
.hotspot .hotspot_brand_lst li.on .brand_tab.type6,.hotspot .hotspot_brand_lst li:hover .brand_tab.type6{background:#eed7f5}
.hotspot .hotspot_brand_lst li .brand_cont{display:block;position:absolute;top:45px;left:0;z-index:0;width:980px;height:375px}
.hotspot .hotspot_brand_lst li .brand_cont.bg1{background:url('//pics.iacstatic.co.kr/pc/hp/bg_hotspot1.jpg') no-repeat 0 0}
.hotspot .hotspot_brand_lst li .brand_cont.bg2{background:url('//pics.iacstatic.co.kr/pc/hp/bg_hotspot2.jpg') no-repeat 0 0}
.hotspot .hotspot_brand_lst li .brand_cont.bg3{background:url('//pics.iacstatic.co.kr/pc/hp/bg_hotspot3.jpg') no-repeat 0 0}
.hotspot .hotspot_brand_lst li .brand_cont.bg4{background:url('//pics.iacstatic.co.kr/pc/hp/bg_hotspot4.jpg') no-repeat 0 0}
.hotspot .hotspot_brand_lst li .brand_cont.bg5{background:url('//pics.iacstatic.co.kr/pc/hp/bg_hotspot5.jpg') no-repeat 0 0}
.hotspot .hotspot_brand_lst li .brand_cont.bg6{background:url('//pics.iacstatic.co.kr/pc/hp/bg_hotspot6.jpg') no-repeat 0 0}
.hotspot .hotspot_brand_lst li .brand_cont li{position:absolute}
.hotspot .hotspot_brand_lst li .brand_cont li a{background:transparent}
.hotspot .hotspot_brand_lst li .brand_cont li.bnr_big{top:12px;left:50px}
.hotspot .hotspot_brand_lst li .brand_cont li.bnr_s1{top:12px;left:600px}
.hotspot .hotspot_brand_lst li .brand_cont li.bnr_s2{top:12px;left:780px}
.hotspot .hotspot_brand_lst li .brand_cont li.bnr_s3{top:164px;left:600px}
.hotspot .hotspot_brand_lst li .brand_cont li.bnr_s4{top:164px;left:780px}
.hotspot .prev,.hotspot .next{display:none;z-index:10;margin-top:8px}
.hotspot .prev{background-position: -788px -257px;width:34px;height:41px}
.hotspot .prev:hover{background-position: -864px -257px;z-index:1}
.hotspot .next{right:0;background-position:-835px -258px;width:34px;height:41px}
.hotspot .next:hover{background-position:-912px -258px;z-index:1}